body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box ;
}

.navbar{
    height: 45px;
    padding: 0;
    margin: 0;
    font-size: small;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
     flex-wrap: wrap;
     


}
.navbar p{
    font-size: small;
    padding: 0;
}

.navbar .topnav1{
    position: relative;
    left: 10%;
}

.navbar .topnav2{
    position: relative;
    left: -10%;
}

.navbar .topnav3{
    position: relative;
    left: -25%;
}






















#bottom_nav{
    padding: 8px 0px;
}

#sylani_logo{
    height: 54px;
    
}





.btn button{
    background-color: #0d6db700;

}